{% load static %}
{% load getstatus %}

<div class="small-container cart-page">
    {% if orders %}
    <table>
        <tbody><tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total PRICE</th>
            <th>Status</th>

        </tr>
        <tr>
            {% for order in orders %}
            <td>{{ order.id}} </td>
            <td>{{ order.cretated_at }} </td>
            <td>{{order.total_price}} </td>
            <td>{% getstatus order.order_status %} </td>



        </tr>
        {% endfor %}
    </tbody></table>
    {% else %}
    <p> No Orders</p>
    {% endif %}
</div>